.DS_Store
Thumbs.db
AU/
MoorerReverbDeconstructed/
FirstDelayLinev1.1/
pluginstore/
misc/
GainControl.rtf
MultiTapDelayLine/
MoorerReverbStereo/Builds/MacOSX/build/
MoorerReverb/Builds/MacOSX/build/
SchroederReverbStereo/Builds/MacOSX/build/
SchroederReverb/Builds/MacOSX/build/
PingPongDelayLine/Builds/MacOSX/build/
CrossStereoDelayLine/Builds/MacOSX/build/
SyncedTapDelayLine/Builds/MacOSX/build/
StereoDelayLine/Builds/MacOSX/build/
BasicMonoDelayLine/Builds/MacOSX/build/

